footer{
    background: rgb(230, 230, 230);
}

a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.socialmedia{
    width: 25px;
}

.socialmedia:hover{
    border: 2px solid black;
}

.space{
    margin: 1px;
}

hr{
    border: 1px solid black;
}