
.tabButton{
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(203, 203, 203);
    
}

.tabButton:hover{
    color: rgb(255, 255, 255);
   background-color: rgb(151, 151, 151);
}

.tabPanel{
    width: 100%;
    height: 450px;
    display: none;
    margin-bottom: 10px;
}
